#cardapio {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: scroll;
}

@media (min-width: 1024px) {
  #cardapio {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 700px;
  }
}
